{techascent/core.config
 {:description  "configuration for tech"
  :include      [[tech.core.config     :complete]]
  :dependencies [environ/environ
                 org.clojure/java.classpath
                 org.clojure/spec.alpha
                 org.clojure/core.specs.alpha]}

 techascent/core.jna
 {:description  "jna for tech"
  :include      [[tech.core.jna   :complete]]
  :dependencies [net.java.dev.jna/jna]}

 techascent/core.parallel
 {:description  "resource management for tech"
  :include      [[tech.core.parallel   :complete]]
  :dependencies [org.clojure/core.async]}

 techascent/core.resource
 {:description  "resource management for tech"
  :include      [[tech.core.resource   :complete]]}

 techascent/compute
 {:description  "computation for tech"
  :include      [[tech.compute   :complete]]
  :bundle       [{:path "target/classes"  :include ["tech/compute"]}]}

 techascent/datatype
 {:description  "data manipulation for tech"
  :include      [[tech.datatype   :complete]]
  :bundle [{:path "target/classes" :include ["tech/core/datatype"]}]
  :dependencies [net.mikera/core.matrix
                 net.mikera/vectorz-clj]}

 techascent/io
 {:description  "io operations for tech"
  :include      [[tech.io   :complete]]
  :dependencies [clj-commons/fs
                 com.taoensso/nippy
                 com.taoensso/timbre]}

 techascent/ml
 {:description  "io operations for tech"
  :include      [[tech.ml   :complete]]
  :dependencies [camel-snake-kebab
                 org.apache.commons/commons-math3]}

 techascent/lib.fastutil
 {:description "fastutil wrapper for tech"
  :include      [[tech.lib.fastutil  :complete]]
  :dependencies [it.unimi.dsi/fastutil]}

 techascent/lib.javacpp
 {:description "javacpp wrapper for tech"
  :include      [[tech.lib.javacpp  :complete]]
  :dependencies [org.bytedeco/javacpp]}

 techascent/lib.mxnet
 {:description "tablesaw wrapper for tech"
  :include      [[tech.lib.mxnet  :complete]]
  :dependencies [org.apache.mxnet.contrib.clojure/clojure-mxnet-linux-cpu]}

 techascent/lib.opencv
 {:description "opencv wrapper for tech"
  :include      [[tech.lib.opencv  :complete]]
  :dependencies [org.bytedeco.javacpp-presets/opencv-platform]}

 techascent/lib.smile
 {:description "smile wrapper for tech"
  :include      [[tech.lib.smile  :complete]]
  :dependencies [com.github.haifengl/smile-core]
  :bundle       [{:path "target/classes"  :include ["smile"]}]}

 techascent/lib.tablesaw
 {:description "tablesaw wrapper for tech"
  :include      [[tech.lib.tablesaw  :complete]]
  :dependencies [tech.tablesaw/tablesaw-core]}

 techascent/lib.svm
 {:description "tablesaw wrapper for tech"
  :include      [[tech.lib.svm  :complete]]
  :bundle       [{:path "target/classes"  :include ["tech/lib/svm"]}]}

 techascent/lib.tvm
 {:description "tablesaw wrapper for tech"
  :include      [[tech.lib.tvm  :complete]]
  :bundle       [{:path "target/classes"  :include ["tvm_clj"]}]}

 techascent/lib.xgboost
 {:description "xgboost wrapper for tech"
  :include      [[tech.lib.xgboost  :complete]]
  :dependencies [me.lyh/xgboost4j]}}
